<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA-LY4qPifZfJLUju4F-5s9NSYrij5Lko</string>
	<key>GCM_SENDER_ID</key>
	<string>195991091953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atelier4MohamedtahaElasriIir5g7.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>atelier4-taha-elasri-iir5g7</string>
	<key>STORAGE_BUCKET</key>
	<string>atelier4-taha-elasri-iir5g7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195991091953:ios:2856b0e375585697244750</string>
</dict>
</plist>